[package]
name = "test-generator"
version = "0.1.0"
edition = "2021"
rust-version = "1.67"
license = "Apache-2.0"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "1.0", features = ["full"] }
walkdir = "2.3.2"
